<!-- <mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>Solfurion</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/accounts'"> Activity </a>


    </div>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span style="font-size: 12px;">SimpleCRM helps you easily manage your contacts</span>
  </mat-toolbar-row>
</mat-toolbar> -->


<mat-tab-group dynamicHeight>

  <mat-tab label="Products">
    <div class="example-large-box mat-elevation-z4">

      <mat-form-field class="filter-style">
        <mat-select (selectionChange)="Refresh()" [(value)]="selectType">
          <mat-option *ngFor="let type of selectTypes" [value]="type">
            {{type}}
          </mat-option>
        </mat-select>

      </mat-form-field>

      <mat-grid-list cols="4">
        <mat-grid-tile class="radio-button" *ngFor="let image of imagesFiltered">
          <mat-card class="Card-style">
            <mat-card-title>
              {{image.header}}
             </mat-card-title>
            <img mat-card-image class="image-style" src={{image.imgsrc}}>
            <mat-card-content>
              <p>
                Prova
              </p>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>


    </div>
  </mat-tab>
  <mat-tab label="Contacts">


  </mat-tab>

</mat-tab-group>